<li>
    {{burger_name}}
    {{#if devoured}}
    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
        Eat This!
    </button>
    {{else}}
    <button class="digest-burger" data-id="{{id}}">
        Digest
    </button>
    {{/if}}

</li>